*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  /* forgot to add this initially and was annoyed when hovering made everything change size */
}

html {
  width: 100vw;
  height: 100vw;
}

body {
  width: 100vw;
  max-height: 100vh;
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  padding: 1rem;  
  justify-content: space-between;
  width: 100vw;
}

header button {
  background-color: #edbebe;
  padding: .5rem;
  border-radius: .5rem;

}

#view-scores span {
  font-size: 2rem;
  padding: 1rem;
  font-weight: 500;
}

header p {
  font-size: 2rem;
  font-weight: 500;
  margin-right: 2rem;
  color: black;

}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.quiz-area {
  display: flex;
  flex-flow: column wrap;
  justify-self: center;
  align-self: center;
  text-align: center;
  padding: 2rem;
  margin-top: 5rem;
  max-width: 80vw;
}

h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.quiz-area p {
  font-size: 1.5rem;
}

.quiz-area button {
  font-size: 1.2rem;
  width: 10vw;
  align-self: center;
  margin: 2rem;
  background-color: #edbebe;
  border-radius: 1rem;
  padding: .5rem;
}

.quiz-hidden {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  max-width: 80%;
  min-height: 20vw;
  margin: 5rem auto;
  text-align: center;
  border: 3px solid #edbebe;
  border-radius: .5rem;
  box-sizing: border-box;
}

.score-buttons button {
  font-size: 1.2rem;
    width: 10vw;
    align-self: center;
    margin: 2rem;
    background-color: #edbebe;
    border-radius: 1rem;
    padding: .5rem;
}

#choices {
  display: grid;
  justify-content: center;
  grid-template-columns: max-content;
  border-radius: .5rem;
  padding: 1rem;
}

/* this class does not exist in the HTML, JS was used to create it */
.choice-btn {
  /* max-width: 20vw, auto; */
  font-size: 1.6rem;
  padding: .5rem;
  margin: 1rem;
  border-radius: .5rem;
  border-style: none;
  font-weight: 500;
  border: 1px solid transparent;
  /* I thought with box-sizing I wouldn't need this */
  background-color: #c8e3fa;
  display: grid;
  justify-content: center;
  grid-template-columns: max-content;

}

.choice-btn:hover {
  border: .1rem solid black;
}

h2 {
  font-size: 2.5rem;
  margin: 1rem 0;
  padding: 0 1.5rem;
}

.wrong-answer {
  font-size: 2.5rem;
  color: red;
  font-weight: 600;
  border: 1px solid red;
}

#name-input {
  height: 2rem;
  width: 18rem;
  border-radius: 5px;
}


.quiz-hidden #submit-button {
  background-color: #c8e3fa;
  width: 5vw;
  height: 2vw;
  font-size: 1rem;
  margin-left: 1.5rem;
  border-radius: .5rem;
}

.score-submit {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.score-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 5rem;
  margin-top: 2rem;
}

.score-section h2 {
  text-align: center;
}

.score-section #score{
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  }

.score-list {
  list-style: none;
  counter-reset: my-counter;
  padding: 0 0 1rem 0;
  
}

.score-list li {
  counter-increment: my-counter;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.score-list li::marker {
  content: counter(my-counter) ". ";
  color: #edbebe;
  font-weight: bold;
  font-size: 1.8rem;
}

.score-submit #submit-button {
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: #c8e3fa;
  padding: .5rem;
}